body,
html, .root { 
    background-color: white;
    font-family: 'Open Sans', sans-serif; 
    background-image: url(/src/pages/authenticationPages/img/background.png);
    background-size: cover;
    background-position: 50% -344px;
  }

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }
     
/* Home */

._cjo0m2 {
    box-direction: normal !important;
    box-orient: horizontal !important; 
    display: flex !important;
    flex-direction: row !important;
} 
          
._hjfkep {
    box-direction: normal !important;
    box-orient: vertical !important;
    box-align: center !important; 
    box-pack: center !important; 
    display: flex !important; 
    justify-content: center !important; 
    align-items: center !important;
    flex-direction: column !important;
    width: 55vw !important;
    background-color: #cf5e18 !important;
    min-height: 100vh !important;
 }
                  
._1oez8w8 { 
    -webkit-box-align: center !important;
    -webkit-box-pack: center !important;
    display: flex !important; 
    justify-content: center !important; 
    align-items: center !important;
    width: 45vw !important; }

    .btnCad {
      /* display: flex; */
      color: #fdfdff;
      font-weight: 700;
      width: 280px;
      height: 50px;
      padding: 0 20px;
      background: #2d9bd1;
      border-radius: 5px;
      outline: none;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: all 0.2s linear;
      margin: 7% auto;
      letter-spacing: 0.05em;
      justify-content: inherit;
      
  }

  ._1ytio68 {
    display: flex;
    flex-direction: column;

  }

.logo {
    max-width: 85%;
}

  /* Login */

  .bntRegister {
    
      color: white;
      width: 100%;
      border: 0;
      height: 48px;
      padding: 0 30px;
      font-size: 1rem;
      background: linear-gradient(45deg , rgb(206, 95, 24) 30%, #ce5f18 90%);
      box-shadow: 0 3px 5px 2px rgb(206, 95, 24);
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      border-radius: 3px;
      margin-top: 4vh;
   
  }

/* Register */

.MuiBox-root-6 {
    text-align: center;
    letter-spacing: 0.04em;
}

.jss6 {
    text-align: center;
}

.label-job-position {
    padding-inline-start: 20px;
    font-size: 25px;
}

.radio-label {
    font-weight: bold;
    margin-inline-end: 15px;
    margin-inline-start: 40px;
    color: #2976a0;
    font-size: 18px;
}

/* Register -- Botão de voltar */ 


.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}



.makeStyles-arrow-14 {
  color: rgba(206, 95, 24);
  margin: 25px;
 
}