@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


form {
    text-align: center;
    position: absolute; 
    left: 440px; /* posiciona a 90px para a esquerda */ 
    top: 30px;
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, rgb(37, 154, 217, 50% ) 50%, rgb(206, 95, 24, 50%) 50%);
}

form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

header p {letter-spacing: 0.05em;}



.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}



input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
input[class="form-input" ] {width: 250px;}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.btn  {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}

.frgt-pass {background: transparent;}

.sign-up {background: #B8F2E6;}


@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

/* Register */

.CadTitle {
    font-size: 45px;
    line-height: 53px;
    text-align: left;
    margin-left: 58px;
  }
  
  .FormCadastro {
    margin: 100px auto 0;
    width: 513px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cadLabel {
    font-size: 33px;
    line-height: 39px;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .cadInput {
    height: 82px;
    border: 3px solid #000000;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 36px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  
  .cadInputOption {
    font-size: 20px;
    width: 30px;
    height: 82px;
  }
  
  .cadBtn {
    margin: 0 auto;
    width: 40%;
    background-color: #7ca082;
    width: 244px;
    height: 70px;
    border: 8px solid #000000;
    border-radius: 18px;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-top: 30px;
    font-weight: bold;
  }