*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif, 
                'Roboto Slab', serif;

}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 880px;
    max-height: 500px;
}
