*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif, 
                'Roboto Slab', serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 100%;
}
