.footerPage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerPage-content{
    max-width: 1000px;
    width: 100%;
}

.footerPage-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  90%;
    max-width: 1000px;
}

.footerPage-content-allRights, 
.footerPage-content-socialDevs__render{
    color: #fff;
    margin-bottom: 10px;
    font-size: 10px;
    margin-left: 20px;

}
@media screen and (max-width: 820px){
    .footerPage-content-allRights,
    .footerPage-content-socialDevs__render{
        font-size: 20px;
        flex-direction: column;
    }
}

.footerPage-content-socialDevs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
}

.footerPage-content-socialDevs__render{
    text-decoration: none;
}
