* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-kitchen {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding-top: 20px;
    background-color: #000;
}

.welcome-header {
    width: 273px;
    position: absolute;
    left: 50px;
    top: 40px;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #fff;
    justify-content: flex-start;
}

.form-header {
    display: flex;
    position: absolute;
    top: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    position: absolute;
    right: 150px;
}

.item-icon-kitchen-logout {
    position: absolute;
    left: 310px;
    top: 1px;
    width: 65px;
    height: 65px;
    margin-left: 10px;
}
