* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, normal, normal;
} 

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-style: none;
    cursor: pointer;
    font-size: 1.8em;
    color: #b6a89a;
}
figure {
    margin-top: 4px;
}
[type="checkbox"] {
    opacity: 0;
}
.hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #FF780F;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
::-webkit-scrollbar-thumb:hover {
    background: #FF780F;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(105, 109, 109);
    border-radius: 2px;
}
.login-page, .register-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 15px 0px;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.right, .form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.providers-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submit-button {
    width: 240px;
    height: 35px;
    border-radius: 50px;
    border-style: none;
    background: #FF780F;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    outline: transparent;
}
#login-button{
    margin: 10px 0px 15px;
}
.submit-button:hover {
    background-color:#F8CB00;
}
.subtitle {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #231911;
}
.button-in-text {
    color:#FFFFFF;
    font-size: 14px;
    font-weight: medium;
    border-style: none;
    background-color: #F8CB00;
    outline: transparent;
}
.button-in-text:hover {
    text-decoration: underline;
}
.input-in-line {
    width: 255px;
    border: none;
    border-bottom: 1.5px solid #231911;
    padding: 8px;
    outline-color: #FF780F;
}
.button-icon {
    border-style: none;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 18px 0px;
    outline: transparent;
}
.error-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    color: #db0b0b;
}