* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #F8CB00;
}

.right {
    background-color: #F8CB00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 350px;
    height: 600px;
}

.right h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.register-name, .register-email, .register-password, .register-re-password {
    display: flex;
    align-items: center;
    padding:3px;
    width: 98%;
    height: 50px;
}

.register-name svg, .register-email svg, .register-password svg, .register-re-password svg {
    font-size: 24px;
}

.register-name input, .register-email input, .register-password input, .register-re-password input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;  
}  

.register-page input {
    width: 100%;
    padding: .3em;
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    font-size: 24px;
}

.select {
    width: 120px;
    height: 40px;
    background-color: #F8CB00;
}

.register-function {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.register-function select {
    font-size: 24px;
    border-radius: 10px;
    border-color: #000;
}
.register-function select ::after {
    background-color: #F8CB00;
    font-size: 24px;
}


.register-function option {
    font-size: 16px;
    border-radius: 10px;
    border-color: #F8CB00;
    background-color: #F8CB00;
    color: #000;
}

.register-page button {
    width: 200px;
    background-color: white;
    height: 40px;
    border: none;
    box-shadow: 4px 4px #333131a9;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.register-page button:hover {
    background-color: #171719;
    color: white;
    cursor: pointer;
}

.register-to-login {
    font: 12px;
    padding-top: 20px;
}