.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.btn-menu-breakfast,
.btn-menu-allDay {
  width: 250px;
  height: 70px;
  position: absolute;
  left: 110px;
  font-size: 30px;
  background: #f8cb00;
  border-radius: 50px;
  font-weight: bold;
}

.btn-menu-allDay {
  position: absolute;
  top: 580px;
}

.btn-menu-breakfast {
  position: absolute;
  top: 460px;
}

.select-table {
  width: 380px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 900px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 40px;
  color: #F8CB00;
  background-color: #000;
}

.select-table
option:hover,
option:focus,
option:active {
  background-color: #f8cb00;
  transition: 0s;
  font-size: 10px;
  color: #000;
}

.container-order {
  position: absolute;
  width: 800px;
  height: 1000px;
  left: 100px;
  top: 1200px;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
  padding: 5px;
}

.title-order {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.user-order {
  font-size: 35px;
  padding-bottom: 7px;
}

.client-order {
  font-size: 35px;
  border: 3px solid #F8CB00;
  padding-bottom: 7px;
}

.total-order {
  font-size: 35px;
}

.item-list-order label {
  font-size: 32px;
}

.btn-quantity-order {
  font-size: 35px;
  width: 40px;
  height: 40px;
  background-color: #F8CB00;
  border: 2px solid #000;
}

.button-qtd {
  height: 30px;
  width: 40px;
  font-size: 18px;
}

.itens {
  font-size: 25px;
}

.btn-clean-order {
  width: 210px;
  height: 55px;
  margin-left: 570px;
  font-size: 26px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;  
}

.btn-send-order {
  width: 260px;
  height: 60px;
  position: absolute;
  left: 370px;
  top: 2250px;
  background: #f8cb00;
  border-radius: 50px;
  text-align: center;
  padding-top: 1px;
  font-weight: bold;
  font-size: 35px;
}

.main-right {
	display: flex;
	position: absolute;
	top: 150px;
	right: 100px;
}

.breakfast {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	list-style-type: none;
  
}

.list-menu-breakfast, .list-menu-allDay {
	background-color: #fff;
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 28px;
	font-weight: bold;
	position: relative;
  left: 290px;
  top: 40px;
}

.icon-button-add, .icon-button-delete {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}


.button-send {
  width: 190px;
  height: 40px;
  background: #f8cb00;
  border-radius: 50px;
  text-align: center;
  padding-top: 1px;
  font-weight: bold;
  font-size: 32px;
}