.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.btn-menu-breakfast,
.btn-menu-allDay {
  width: 250px;
  height: 70px;
  position: absolute;
  left: 110px;
  font-size: 30px;
  background: #f8cb00;
  border-radius: 50px;
  font-weight: bold;
}

.btn-menu-allDay {
  position: absolute;
  top: 480px;
}

.btn-menu-breakfast {
  position: absolute;
  top: 360px;
}

.container-order {
  position: absolute;
  width: 450px;
  height: 370px;
  left: 60px;
  top: 650px;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
}

.title-order {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.order-list label {
  font-size: 25px;
}

.client-order {
  font-size: 25px;
}

.qnt {
  font-size: 25px;
}

.button-qtd {
  height: 30px;
  width: 40px;
  font-size: 18px;
}

.itens {
  font-size: 25px;
}

.total {
  font-size: 25px;
  position: absolute;
  bottom: 25px;
  padding-left: 10px;
}

.button-clean {
  width: 180px;
  height: 40px;
  position: absolute;
  left: 260px;
  top: 320px;
  font-size: 21px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;  
}

.item-btn-send-order {
  width: 180px;
  height: 56px;
  position: absolute;
  left: 135px;
  top: 410px;
  background: #f8cb00;
  border-radius: 50px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 22px;
}

.main-right {
	display: flex;
	position: absolute;
	top: 150px;
	right: 100px;
}

.breakfast {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	list-style-type: none;
}

.list-menu-breakfast {
	background-color: #fff;
	padding: 20px;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
    left: 60px

}
.icon-button-add, .icon-button-delete {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/* .item-product-image {
	width: 150px;
	height:150px;
} */