.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.select-Table {
  width: 140px;;
  height: 50px;
  position: absolute;
  right: 230px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 30px;
  color: #F8CB00;
  background-color: #000;
}

.select-Table select:hover,
select:focus,
select:active {
  background-color: #f8cb00;
  transition: 0s;
  font-size: 16px;
  color: #000;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.btn-menu-breakfast,
.btn-menu-allDay {
  width: 250px;
  height: 70px;
  position: absolute;
  left: 110px;
  font-size: 30px;
  background: #f8cb00;
  border-radius: 50px;
  font-weight: bold;
}

.btn-menu-allDay {
  position: absolute;
  top: 480px;
}

.btn-menu-breakfast {
  position: absolute;
  top: 360px;
}

.container-order {
  position: absolute;
  width: 400px;
  height: 370px;
  left: 60px;
  top: 800px;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
}

.title-order {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.order-list label {
  font-size: 25px;
}

.client-order {
  font-size: 25px;
}

.qnt {
  font-size: 25px;
}

.button-qtd {
  height: 30px;
  width: 40px;
  font-size: 18px;
}

.itens {
  font-size: 25px;
}

.total {
  font-size: 25px;
  position: absolute;
  bottom: 25px;
  padding-left: 10px;
}

.button-clean {
  width: 180px;
  height: 40px;
  position: absolute;
  left: 260px;
  top: 320px;
  font-size: 21px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;  
}

.btn-send-order {
  width: 200px;
  height: 46px;
  position: absolute;
  left: 60px;
  top: 250px;
  background: #f8cb00;
  border-radius: 50px;
  text-align: center;
  padding-top: 1px;
  font-weight: bold;
  font-size: 22px;
}

.main-right {
	display: flex;
	position: absolute;
	top: 150px;
	right: 100px;
}

/* .item-main-right{
  position: absolute;
  left: 10px;
  top: 20px;
} */

.breakfast {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	list-style-type: none;
  
}

.list-menu-breakfast, .list-menu-allDay {
	background-color: #fff;
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 28px;
	font-weight: bold;
	position: relative;
  left: 290px;
  top: 40px;
}

.icon-button-add, .icon-button-delete {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* .item-product-image {
	width: 150px;
	height:150px;
} */