.container-allDay{
    
    margin-top:5em;
    display: flex;
    width: 850px;
    height: 180px;
    flex-wrap: wrap;
}

.container-cafe{
    margin-top:5em;
   
    display: flex;
    width: 850px;
    height: 200px;
   
}

.container-cardapio{
    border: 1px solid black;
    width: 250px;
    height: 210px;
    font-size: 12px;
    flex-direction: column;
    justify-content: flex-start;
}