.footer {
	width: 100vw;
	position: fixed;
	background-color: #004c54;
	bottom: 0;
	padding: 0.4rem;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem;
}

.footer-text {
	font-size: 1rem;
	color: #fff9d4;
}
.footer-link {
	font-size: 1rem;
	color: #db9e36;
	text-decoration: none;
}

.footer-link:hover {
	border-bottom: solid 1px #db9e36;
}
