body {
	font-family: "Work Sans";
	font-size: 16px;
}

/* RADIO INPUT */

.container-menu {
	display: flex;
	justify-content: flex-start;
}

.radio-tile-group-menu {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.input-container-menu {
	position: relative;
	height: 2rem;
	width: 14.9rem;
	margin-top: 8rem;
}

.radio-button-menu {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
}

.radio-tile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 7px 7px 0 0;
	border: 2px solid #ffd34d;
	padding: 1rem;
	transition: 0.3s ease;
	background-color: #fffff0;
}

.radio-tile-label-menu {
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	color: #ffd34d;
}

.radio-button-menu:checked + .radio-tile-menu {
	background-color: #ffd34d5b;
	border: solid 2px #ffd34d;
	border-radius: 7px 7px 0 0;
}

/* GENERAL STYLING */

.hide {
	display: none;
}

/* MENU STYLING */

.container-new-order {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: purple;
}
.div-container-menu-section {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	height: 35rem;
	margin: 0.2rem auto;
	background-color: #fff9d4;
	border-radius: 0.5rem;
	padding: 0.5rem;
	overflow-y: scroll;
}

/* ORDER BUTTON */

.container-btn-modal {
	max-width: 40vw;
	display: flex;
	padding: 0 2rem;
}

.btn-confirm,
.btn-cancel {
	width: 14rem;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: solid 2px;
	color: #fffff0;
	transition: 0.3s ease-in-out;
	margin: 2rem 1rem;
	box-shadow: 0 4px 7px 0 #c2c2c0;
}

.btn-cancel {
	background-color: #bc4931;
	border-color: #bc4931;
}

.btn-cancel:hover {
	background-color: #fffff0;
	color: #bc4931;
}

.btn-confirm {
	background-color: #056b59;
	border-color: #056b59;
}

.btn-confirm:hover {
	background-color: #fffff0;
	color: #056b59;
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.3rem #d8d8d8;
	border-radius: 0.7rem;
}

::-webkit-scrollbar-thumb {
	background: #e2ddbb;
	border-radius: 0.7rem;
}

/* MODAL */
.modal {
	width: 35rem;
	height: 35rem;
	background: #fffff0;
	border: dotted 0.25rem #004c54;
	outline: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	text-align: center;
	margin: 6rem auto;
}

/* RADIO BUTTON MODAL */

.burger-type-title,
.burger-extra-title {
	margin-top: 0.5rem;
	padding-top: 0.9rem;
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	color: #260101;
}

.container-modal-option {
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio-tile-group-modal-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input-container-modal-option {
	padding-top: 0.9rem;
	position: relative;
	height: 3rem;
	width: 10rem;
	margin: 0.2rem;
}

.radio-button-modal-option {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
}
.radio-tile-modal-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 2px solid #db9e36;
	border-radius: 0.2rem;
	padding: 1rem;
	transition: transform 300ms ease;
}

.radio-tile-label-modal-option {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 600;
}

.radio-button-modal-option:checked + .radio-tile-modal-option {
	background-color: #db9f3660;
	border: solid 2px #db9e36;
	border-radius: 0.2rem;
}
.radio-tile-label-modal-option {
	color: #db9e36;
}
