.container-status-orders {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
}

.preparing-status,
.ready-status {
	width: 22rem;
	height: 35rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	border-radius: 7px 7px 7px 7px;
	background-color: #fff9d4;
}
