.ready-status {
	width: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	border-radius: 7px 7px 7px 7px;
	background-color: #fff9d4;
}
