.container-status-orders {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.status-kitchen,
.status-hall {
	width: 22rem;
	height: 32rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-top: 8rem;
	border-radius: 7px 7px 7px 7px;
	background-color: #fff9d4;
}

.hide {
	display: none;
}

.status-pending,
.status-ready-hall {
	background-color: #bc4931;
	border: solid 2px #bc4931;
}
.status-preparing {
	background-color: #d4612c;
	border: solid 2px #d4612c;
}
.status-ready,
.status-delivery {
	background-color: #056137;
	border: solid 2px #056137;
}
