.product-section {
	width: 11rem;
	height: 14rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	text-align: center;
	margin-top: 1rem;
	padding: 1rem 1rem;
	background-color: #fffff0;
	box-shadow: 0 1px 7px 0 #c2c2c0;
}

.product-img {
	margin-top: 0.5rem;
	border-radius: 0.3rem;
	width: 6.5rem;
	height: auto;
	flex-grow: 1;
}

.product-name {
	margin: 0.5rem;
	font-size: 1rem;
	font-weight: 500;
	color: #004c54;
}

.product-price {
	font-size: 1rem;
	font-weight: 500;
	color: #db9e36;
}
