header {
    display: flex;
    justify-content: center;
}

.navigation{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    float:left;
    font-size: 14px;
}

header nav ul li{
    font-size: 1em;
    padding: 5%;
}

header nav ul li a{
    text-transform: uppercase;
    font-size: 1em;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover{
    background: #F2C94C;
}

a{
    color: white;
}
