* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.singnUp,
.App {
	text-align: center;
}

.App-header {
	background-color: #000000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.singnUp-header {
	background-color: #000000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.form {
	display: flex;
	flex-direction: column;
	width: 30%;
}

#login {
	display: flex;
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 10px;
	font-family: Arial;
	font-weight: bold;
	color: black;
	font-size: 15px;
	border-radius: 9px;
	background-color: rgb(233, 255, 30);
	margin-top: 10px;
}

#login:hover {
	background-color: rgb(151, 158, 158);
}
#singnupBtn:hover {
	background-color: rgb(151, 158, 158);
}

#pass,
#email {
	padding: 11px;
	margin-top: 20px;
}

#singnupBtn {
	display: flex;
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 10px;
	font-family: Arial;
	font-weight: bold;
	color: rgb(5, 5, 5);
	font-size: 15px;
	border-radius: 9px;
	background-color: rgb(233, 255, 30);
	margin-top: 10px;
}

.register {
	margin-top: 24px;
	font-family: Arial;
	color: white;
	font-weight: bold;
	font-size: 61%;
}

.logo {
	display: flex;
	justify-content: center;
	width: 205px;
}
