/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* REFERÊNCIAS PARA MEDIA QUERIES */
/*
Mobile maior -- max-width: 600px
Tablet retrato -- min-width: 601px
Tablet paisagem e Desktop -- min-width: 900px
*/

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

/* GENERAL STYLING */
html {
	height: 100%;
	width: 100%;
	font-size: 14px;
	background-color: #a9b6aa;
}

body {
	height: 100%;
	width: 100%;
	background-color: #a9b6aa;
	font-family: "Work Sans", sans-serif;
	color: #000;
}

input,
button {
	font-family: "Work Sans", sans-serif;
}
