.menu-section-container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	width: 30vw;
	flex-wrap: wrap;
	background-color: aqua;
}

.menu-section-title {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}
