/* body {
    background-color: #000;
}  */

.header-hall {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
    background-color: #000;
}

.welcome-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: baseline;
    align-items: flex-start;
    width: 40%;
    margin-top: 50px;
    margin-left: 50px;
}

.welcome-header {
    color: #fff;

}

.logo-header {
    width: 40%;
    height: 40%;
    align-items: center;
}

.form-header form {
    display: flex;
    justify-content: flex-end;
}

.select-Table {
    width: 25%;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    padding-left: 8px;
    font-size: 17px;
    color: #fff;
    background-color: #000;
}
.select-Table
select:hover,
select:focus,
select:active {
  background-color: #F8CB00;
  transition:0s;
}

.nameCustomer {
    width: 35%;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    padding-left: 5px;
    font-size: 16px;
    color: #000;
}

.btn-myOrder{
    width: 30%;
    background-color: #F8CB00;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 16px; 
    margin-right: 20px;
}

.icon-logout {
    width: 40px;
    height: 40px;
    margin-right: 18px;
}