* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-hall {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  padding-top: 20px;
}

.welcome-header {
  width: 273px;
  position: absolute;
  left: 31px;
  top: 50px;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #fff;
  justify-content: flex-start;
}

.form-header {
  display: flex;
  position: absolute;
  top: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  right: 100px;
}

.select-Table {
  width: 170px;;
  height: 70px;
  position: absolute;
  right: 250px;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 35px;
  color: #fff;
  background-color: #000;
}

.select-Table select:hover,
select:focus,
select:active {
  background-color: #f8cb00;
  transition: 0s;
  font-size: 16px;
  color: #000;
}

/* .item-nameCustomer {
  width: 200px;
  height: 60px;
  position: absolute;
  right: 170px;
  bottom: 2px;
  margin-right: 20px;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
} */

.item-btn-myOrder {
width: 230px;
height: 70px;
font-size: 30px;
font-weight: bold;
background: #F8CB00;
border-radius: 50px;
}

.item-icon-logout {
    position: absolute;
    left: 250px;
    bottom: 7px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
   
}
/* .welcome-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: baseline;
    align-items: flex-start;
    width: 40%;
    margin-top: 50px;
    margin-left: 50px;
} */

