/* IMPORT FONTS */
@import url("http://fonts.cdnfonts.com/css/apex-new");

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.responsive-wrap-navbar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: fixed;
	top: 0;
	padding: 1rem 0;
	background-color: #000;
	box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.15);
}

.label-nav {
	font-family: "Apex New Book", sans-serif;
	text-align: center;
	color: #fff;
}

.icon-nav {
	font-size: 1.5rem;
	color: #fff;
}

.link {
	color: #fff;
	text-decoration: none;
}
