.responsive-wrap-navbar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: fixed;
	top: 0;
	padding: 1rem 2rem;
	background-color: #db9e36;
}

.label-nav {
	text-align: center;
	color: #fff9d4;
}

.icon-nav {
	font-size: 1.6rem;
	color: #fff9d4;
}

.link {
	color: #a9b6aa;
	font-size: 1rem;
	text-decoration: none;
}
