* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.signUp,
.App {
	text-align: center;
}

.App-header,
.signUp-header {
	background-color: #383838;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#login:hover,
#signupBtn:hover {
	background-color: rgb(151, 158, 158);
}

#pass,
#password,
#email,
#name {
	padding: 11px;
	width: 80%;
	margin-top: 20px;
	justify-content: center;
	border-radius: 9px;
	align-items: center;
}

#signupBtn,
#login {
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 11px;
	width: 80%;
	font-family: Arial;
	font-weight: bold;
	color: rgb(46, 45, 45);
	font-size: 15px;
	border-radius: 9px;
	background-color: #ffde59;
	margin-top: 20px;
}

@media (min-width:920px) and (max-width:1700px) {

	.logo {
		width: 25%;
		flex-direction: column;
	}
}