.nav {
	background-color: #383838;
	display: flex;
	justify-content: flex-end;
}
.App-Historic {
	background-color: #383838;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: white;
	align-items: center;
}
.exit {
	height: 43px;
	border: none;
	display: flex;
}

.histo {
	height: 20px;
	border: none;
	margin-top: 11px;
	display: flex;
	font-family: Arial;
	font-size: 20px;
	color: #ffde59;
	background-color: #383838;
}
.logoHistoric {
	justify-content: center;
	width: 30%;
}

.AppHistoric {
	background-color: #383838;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
}
