.wrap-menu {
	background-color: #383838;
	display: flex;
	justify-content: space-between;
	margin-right: 35px;
	margin-left: 35px;
}
.App-Historic {
	background-color: #383838;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: white;
	align-items: center;
}
.exit {
	height: 43px;
	border: none;
	display: flex;
}

.histo {
	margin-top: 17px;
	width: 106px;
	text-align: center;
	margin-left: 35px;
	height: 32px;
	border-radius: 9px;
	font-family: Arial;
	font-size: 20px;
	color: white;
	background-color: #ffde59;
}
.logoHistoric {
	justify-content: center;
	width: 30%;
}

.AppHistoric {
	background-color: #383838;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
}

.menu {
	margin-top: 20px;
}

.btnRe {
	height: 43px;
	border: none;
	display: flex;
	background-color: #383838;
	margin-top: 12px;
	margin-right: 15px;
}

.re {
	margin-top: 2px;
	height: 35px;
}
