* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.nav {
	background-color: #383838;
	display: flex;
	justify-content: flex-end;
}
.exit {
	height: 30px;
	border: none;
	display: flex;
}

.logoKitchen {
	display: flex;
	justify-content: center;
	width: 47%;
	margin-left: 25%;
}

.AppKitchen {
	background-color: #383838;
	min-height: 100vh;
	display: flex;
	font-size: calc(10px + 2vmin);
	color: white;
	flex-direction: column;
}

.btnAdd {
	border: none;
	display: flex;
	width: 69px;
}

.App-Kitchen {
	background-color: #383838;
}

.Cozinha {
	text-align: center;
	margin-top: 16px;
	font-size: 31px;
	font-weight: bold;
	font-family: Arial;
	color: #ffde59;
}

.product {
	border-radius: 9px;
	width: 43%;
	margin-top: 25px;
	margin-left: 38px;
	text-align: center;
}
