* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.nav {
	background-color: #383838;
	display: flex;
	justify-content: flex-end;
}
.exit {
	height: 43px;
	border: none;
	display: flex;
}

.logoKitchen {
	display: flex;
	justify-content: center;
	width: 47%;
	margin-left: 25%;
}

.AppKitchen {
	background-color: #383838;
	min-height: 100vh;
	display: flex;
	font-size: calc(10px + 2vmin);
	color: white;
	flex-direction: column;
}

.btnAdd {
	border: none;
	display: flex;
	width: 69px;
	margin-left: 37px;
	background-color: #383838;
}

.App-Kitchen {
	background-color: #383838;
}

.Cozinha {
	text-align: center;
	margin-top: 16px;
	font-size: 31px;
	font-weight: bold;
	font-family: Arial;
	color: #ffde59;
}

.product {
	border-radius: 9px;
	width: 31%;
	background-color: rgb(66, 68, 68);
	margin-top: 25px;
	margin-left: 38px;
	text-align: center;
}

.pedido {
	color: #ffde59;
}

.food {
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 7px;
	width: 68%;
	font-family: Arial;
	font-weight: bold;
	color: rgb(46, 45, 45);
	font-size: 15px;
	border-radius: 9px;
	background-color: #ffde59;
	margin-top: 10px;
}
