.navK {
	height: 64px;
	display: flex;
	justify-content: flex-end;
}

.logoKitchen {
	width: 26%;
	margin-left: 37%;
}

.AppKitchen {
	background-color: #383838;
	font-size: calc(10px + 2vmin);
	color: white;
	min-height: 100vh;
}

.btnAdd {
	border: none;
	display: flex;
	width: 69px;
	margin-left: 37px;
	background-color: #383838;
}

.Cozinha {
	text-align: center;
	margin-top: 16px;
	font-size: 31px;
	font-weight: bold;
	font-family: Arial;
	color: #ffde59;
}

.product {
	border-radius: 9px;
	width: 31%;
	background-color: rgb(66, 68, 68);
	margin-top: 25px;
	margin-left: 38px;
	text-align: center;
}

.pedido {
	text-align: center;
	color: #ffde59;
}

.food {
	display: flex;
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 7px;
	width: 68%;
	font-family: Arial;
	font-weight: bold;
	color: white;
	font-size: 20px;
	border-radius: 9px;
	background-color: #ffde59;
	margin-top: 10px;
}
.prod {
	text-align: center;
}

.food:hover {
	background-color: rgb(151, 158, 158);
}

.Cl {
	width: 47%;
	flex-direction: column;
	margin: 8px;
	border: 1px solid silver;
	border-radius: 10px;
	margin-bottom: 1vh;
	height: 272px;
	filter: drop-shadow(0 0 0.45rem rgb(17, 17, 17));
}
.Cl:hover {
	background-color: rgb(19, 20, 20);
}
.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80vw;
	height: 100%;
	margin: auto;
	margin-bottom: 5vh;
}

.nameClient {
	margin-top: 18px;
	margin-left: 34px;
}

.tble {
	margin-left: 34px;
}
