.logo {
	display: flex;
	justify-content: center;
	width: 30%;
}
.formLogin {
	width: 39%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.App-header {
	background-color: #383838;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

a,
.pRegister {
	font-size: 18px;
	margin-top: 36px;
	color: white;
	width: 300px;
}

#pass,
#password,
#email,
#name {
	padding: 11px;
	margin-top: 20px;
	border-radius: 10px;
}

#login:hover {
	background-color: rgb(151, 158, 158);
}
#login {
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 11px;
	width: 100%;
	font-family: Arial;
	font-weight: bold;
	color: rgb(46, 45, 45);
	font-size: 15px;
	border-radius: 9px;
	background-color: #ffde59;
	margin-top: 20px;
}

/* @media (min-width: 920px) and (max-width: 1700px) {
	.formLogin {
		margin-bottom: 3%;
		margin-top: 2%;
	}

	.divRegister {
		width: 50%;
		height: 380px;
		border-radius: 10px;
		margin-top: 2%;
	}
} */
