.logo {
	display: flex;
	justify-content: center;
	width: 30%;
}
.formLogin {
	width: 39%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.App-header {
	background-color: #383838;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

a,
.pRegister {
	font-size: 17px;
	margin-top: 36px;
}

#pass,
#password,
#email,
#name {
	padding: 11px;
	margin-top: 20px;
}

#login:hover {
	background-color: rgb(151, 158, 158);
}
#login {
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 11px;
	width: 80%;
	font-family: Arial;
	font-weight: bold;
	color: rgb(46, 45, 45);
	font-size: 15px;
	border-radius: 9px;
	background-color: #ffde59;
	margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
	.logo {
		width: 20%;
		flex-direction: column;
	}
	.formLogin {
		display: flex;
		width: 40%;
		padding: 10px;
	}

	#pass,
	#password,
	#email,
	#name {
		padding: 10px;
		margin-top: 5px;
	}

	a,
	.pRegister {
		font-size: 20px;
		margin-top: 12px;
		width: 40%;
		text-align: center;
	}

	#login {
		justify-content: center;
		padding: 5px;
		width: 30%;
		font-size: 15px;
		border-radius: 9px;
		margin-top: 10px;
	}
}
