@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');




  p {
  text-align: center;
	font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.footer-link {
  text-decoration: none;
}

.footer-text {
  padding-bottom: 40px;
}
