@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

h1 {
  text-align: center;
	font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.back-btn-header {
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.signout-btn {
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}




