@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container {
  margin:10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20pt;  
}

.createorder-btn, .orderread-btn, .btn,#back-btn {
    border: solid 2px #fff;
    border-radius: 3rem;
    background-color: rgb(73, 72, 64);
    padding: 0.9rem 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
    transition: 0.3s ease-in-out;
    margin-bottom: 2em;
    margin-left: 1em;
  }

  input {
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;  
  }

  h1 {
  text-align: center;
	font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-bottom: 30px;

}
.order{
  background-color: antiquewhite;
  border:solid 1px #000; 
  padding:10px;
}

.menuList {
  padding: 30px;
}

.row{
  padding: 30px;
  display: flex;
  flex-direction: column-reverse;
}


