* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

.section-container-menu-order {
	margin-left: 80rem;
	margin-top: 10rem;
}

.menu-order-section-title {
}

.menu-order-section-container {
}

.hr-menu-order {
	margin: 1rem 0;
}

.menu-order-total {
}
