/* CSS RESET */
* {
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

/* GERAL STYLING */

.section-container {
	margin-top: 5rem;
	background-color: red;
}

.menu-section-title {
	background-color: blue;
}
