/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

.footer {
	width: 100vw;
	position: fixed;
	background-color: #002c37;
	bottom: 0;
	padding: 0.4rem;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem;
}

.footer-text {
	font-size: 1rem;
	color: #a9b6aa;
}
.footer-link {
	font-size: 1rem;
	color: #9a6a43;
	text-decoration: none;
}

.footer-link:hover {
	border-bottom: solid 1px #9a6a43;
}
