.footer {
	width: 100%;
	height: 80px;
	margin-top: 80px;
	background-color: black;
	position: relative;
}

.footer-link {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
	color: blanchedalmond;
}
