.footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 0.8rem;
	height: 20px;
	background-color: black;
	color: blanchedalmond;
}

.footer-link {
	width: 100%;
	bottom: 8px;
	color: blanchedalmond;
	position: absolute;
}
