.h1-kitchen {
    margin-top: 20px;
}

.prepare-btn, 
.finish-btn {
    border: solid 2px #fff;
    border-radius: 3rem;
    background-color: #328F3A;
    padding: 0.9rem 1.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.signout-btn-kitchen {
    margin-top: 30px;
    margin-left: 670px;
    color: white;
}