

/* .show-order {
    border: 3px solid #f8cb00;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 0 0 1rem 0;
} */



.btn-finish-order {
    width: 200px;
    height: 46px;
    /* position: absolute;
    left: 60px;
    top: 250px; */
    background: #f8cb00;
    border-radius: 50px;
    text-align: center;
    padding-top: 1px;
    font-weight: bold;
    font-size: 18px;
}

.btn-ready-order {
    width: 200px;
    height: 46px;
    position: absolute;
    left: 60px;
    top: 200px;
    background: #f8cb00;
    border-radius: 50px;
    text-align: center;
    padding-top: 1px;
    font-weight: bold;
    font-size: 18px;
}

/*---------Card---------*/

.show-order {
	padding: 5px;
	margin: 0 auto;
}

.titulo-pokedex{
	font-weight: 600;
    font-size: 2em;
    margin-bottom: 0.4em;
    color: #908484;
	text-align: center;
	font-size: 54px;
}


.card-orders {
    display: flex;
    flex-direction: column;
	text-align: center;
	border: 3px solid #f8cb00;
    border-radius: 0.5rem;
	position: relative;
	z-index: 0;
	width: 29vw;
	padding: 30px 31px;
    margin: 0 0 1rem 0;
}

/* <div class="container-pokedex ">
<h1 id="Pokedéx" class="titulo-pokedex">Pokedéx</h1>
<!-- Lista de pokemons -->
<div id="card" class="pokedex"></div>
</div> */