@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container { 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20pt;  
}

.menus-btn {
  text-align: center;
}

.createorder-btn, .orderread-btn {
  border: solid 2px #fff;
  border-radius: 3rem;
  background-color: #ffdb49;
  padding: 0.9rem 1.5rem;
  text-transform: uppercase;    
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 25em;
  margin-left: 2em;
}

.btn, #back-btn {
  color: black;
  border: solid 2px #fff;
  border-radius: 3rem;
  background-color: #ffdb49;
  padding: 0.9rem 1.5rem;
  text-transform: uppercase;    
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 5em;
  margin-right: 5em;
}

.add-btn, 
.ready-btn {
  border: solid 2px #fff;
  border-radius: 3rem;
  background-color: #ffdb49;   
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-left: 0.3em;
  padding: 0.3rem 0.5rem;
}

.delete-btn {
  color: #fff;
  border: solid 2px #fff;
  border-radius: 3rem;
  background-color: red;   
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-left: 0.3em;
  padding: 0.3rem 0.5rem;
}

.delete-products {
  color: black;
}

.menu-btn {
  border: solid 2px #fff;
  border-radius: 3rem;
  padding: 0.9rem 1.5rem;
  text-transform: uppercase;    
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 2em;
  margin-left: 1em;
}

input {
  margin-bottom: 2em;
  border-radius: 50px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  box-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;  
}

h1 {
  text-align: center;
	font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

table {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-bottom: 30px;
  border:solid 2px #fff; 
}

.menuList {
  padding: 30px;
}

.row {
  padding: 30px;
}

.bi {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;   
}

.bi:hover {
  height: 4.8em;
  width: 4.8em;
  opacity: 0.5;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.div-input-order {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-ready {
  color: black;
}