body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: black;
}

.App-logo {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

.App-logoRegister {
  width: 100%;
  height: 100%;
}

.App-formInput {
  color: white;
  height: 100%;
  width: 100%;
  background: black;
}

.App-text {
  color: white;
  font-size: 20px;
}

.App-cadaster {
  font-size: 20px;
  color: white;
  text-align: center;
}

.App-atuacao {
  color: white;
  font-size: 20px;
  text-align: center;
}

.App-funcionario {
  color: white;
  font-size: 20px;
  text-align: center;
}

.App-footer {
  color: white;
  padding-top: 4%;
  text-align: center;
}

.App-footerlogin {
  color: white;
  padding-top: 140px;
  text-align: center;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}    */
