* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

.logo {
	max-width: 15vw;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding: 1.5rem 0;
}

.required {
	font-size: 0.8rem;
	font-weight: bold;
	color: #bc4931;
}

.form-signup {
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 2rem;
}

.label-signup {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: #004c54;
}

.input-signup {
	border: none;
	border-bottom: solid 1px #004c54;
	outline: none;
	padding: 0.3rem 0.4rem;
	background-color: #fffff0;
	font-size: 1rem;
	color: #004c54;
}

.btn-signup {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: solid 2px #db9e36;
	border-radius: 0.5rem;
	background-color: #db9e36;
	color: #fffff0;
	transition: 0.3s ease-in-out;
	box-shadow: 0 4px 7px 0 #c2c2c0;
}

.btn-signup:hover {
	background-color: #fffff0;
	color: #db9e36;
}

.question-signup {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.5rem;
	color: #004c54;
}

.link-to-login {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	color: #ffd34d;
	padding-bottom: 3rem;
}

/*RADIO INPUT*/

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio-tile-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input-container {
	padding-top: 0.9rem;
	position: relative;
	height: 3rem;
	width: 10em;
	margin: 0.5rem;
}

.radio-button {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
}

.radio-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 2px solid #db9e36;
	border-radius: 0.5rem;
	padding: 1rem;
	transition: transform 300ms ease;
}

.radio-tile-label {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 600;
}

.radio-button:checked + .radio-tile {
	background-color: #004c54;
	border: solid 2px #004c54;
	border-radius: 0.5rem;
	transform: scale(1.1, 1.1);
}
.radio-tile-label {
	color: #db9e36;
}
