* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

.logo {
	max-width: 15vw;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding: 1.5rem 0;
}

.required {
	font-size: 0.8rem;
	font-weight: bold;
	color: #bc4931;
}

.form-signup {
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 2rem;
}

.label-signup {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: #004c54;
}

.input-signup {
	border: none;
	border-bottom: solid 1px #004c54;
	outline: none;
	padding: 0.3rem 0.4rem;
	background-color: #fff9d4;
	font-size: 1rem;
	color: #004c54;
}

.btn-signup {
	margin-left: 9rem;
	margin-right: 9rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: solid 2px #db9e36;
	border-radius: 0.7rem;
	background-color: #db9e36;
	color: #fff9d4;
	transition: 0.3s ease-in-out;
}

.btn-signup:hover {
	background-color: #fff9d4;
	color: #db9e36;
}

.radio-option {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	width: 3rem;
	height: 1.2rem;
}

.radio-label {
	margin-left: 5rem;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: #004c54;
}

.question-signup {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.5rem;
	color: #004c54;
}

.link-to-login {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	color: #ffd34d;
	padding-bottom: 3rem;
}
