.App , . {
  text-align: center;
}

.FormCadastro,
 .LoginInput {
  margin: 0 auto;
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cadBtn ,
.btnLogin {
  margin: 0 auto;
  width: 40%;
}
