.login-page, .register-page, .saloon-page, .kitchen-page {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-page, .register-page {
  background-image: url(prato.jpg);
}

/* Colocar imagem
.saloon-page, .kitchen-page {
  background-image: url(mesa.jpg);
} */

.login-form {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.register-form {
  width: 300px;
  height: 550px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.cardapio {
  display: flex;
  flex-wrap: wrap;
}

.products {
  display: inline-flex;
  flex: 0 1 40%;
  margin: 10px;
}

.img-product {
  width: 150px;
  height: 150px;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {

  .login-page, .register-page {
    background-size: 120%;
  }
}
