body,
html, .root { 
    background-color: white;
    font-family: 'Open Sans', sans-serif; 
  
    background-size: cover;
    background-position: 50% -344px;
  }

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }
     