@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

html, body, #root{
    background: #000000;    
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

ul {
    list-style: none;
}



