*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input{
  display: inline-block;
  max-width: 400px;
  margin: 0 auto;
}
