
.hamburger-menu {
  width: 45px;
  height: 35px;
  position: fixed;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}

.line {
  width: inherit;
  height: 5px;
  background-color: #16c3cf;
  border-radius: 25px;
  transform-origin: right;
  transition: transform .5s;
}

.line-2 {
  height: 3px;
}

.change .line-1 {
  transform: rotateZ(-45deg);
}

.change .line-2 {
  transform: translate(5px, 20px);
}

.change .line-3 {
  transform: rotateZ(45deg);
}

.change .top-nav {
  top: 0;
}

.nav-list {
  list-style: none;
  width: 80%;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  color: #ccc;
  background-color: #000;
  letter-spacing: 1px;
  padding: 5px 10px;
  display: block;
  position: relative;
 
}

.nav-link:hover {
  transform: rotateX(90deg);
}

.nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: #000;
  padding: inherit;
  color: #16c3cf;
  transform: rotateX(-90deg);
  transform-origin: top;
}

@media(max-width: 1200px) {
  .top-nav {
      background: #010101;
  }

  .nav-list {
      justify-content: center;
  }

  .nav-link {
      font-size: 25px;
  }

}

@media(max-width: 900px) {

  .top-nav {
      height: 25vh;
      top: -25vh;
  }

  .nav-list {
      width: 70%;
      flex-wrap: wrap;
      align-content: center;
  }

  .nav-link {
      margin: 3px 0;
  }

}

@media(max-width: 750px) {
  .nav-list {
      width: 60%;
  }

}

@media(max-width: 550px) {

  .logo {
      width: 70px;
      height: 70px;
      left: 30px;
  }

  .top-nav {
      height: 30vh;
      top: -30vh;
  }

}

@media(max-width: 450px) {
 

  .top-nav {
      height: 35vh;
      top: -35vh;
  }

  .nav-list {
      width: 50%;
  }
}