* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

.form-client-info {
	background-color: #fdf4dd;
	box-shadow: 0 1px 6px 1px #e8dcb5;
	border-radius: 0.5rem;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 1.5rem;
	margin-top: 10rem;
}

.label-client-info {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: #004c54;
}

.input-client-inf {
	border: none;
	border-radius: 0.4rem;
	outline: none;
	padding: 0.3rem 0.4rem;
	background-color: #ffecb4;
	font-size: 1rem;
	color: #004c54;
}

.btn-order {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 8rem;
	margin-right: 8rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: solid 2px #ffd34d;
	border-radius: 0.7rem;
	background-color: #ffd34d;
	color: #fff9d4;
	transition: 0.3s ease-in-out;
}

.btn-order:hover {
	background-color: #fff9d4;
	color: #ffd34d;
}
